.debug {
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 80%;
}

.debug.top {
  margin-top: -20px;
  margin-bottom: 20px;
}

.debug.bottom {
  margin-top: 20px;
  margin-bottom: -20px;
}

.debug.bottom div {
  font-style: normal;
  text-align: left;
  display: none;
  font-family: monospace;
  white-space: pre;
  border-top: dashed #3b6daa 1px;
}

.debug.bottom.expanded div {
  display: block;
}
