h1 {
  margin-top: 20px;
  line-height: 90%;
  font-size: 32px;
}

h1 a:link, h1 a:visited, h1 a:active, h1 a:hover {
  color: #3b6daa;
  text-decoration: none;
  color: white;
  text-shadow: -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -1px 0px 0 #000,   0px -1px 0 #000, 0px 1px 0 #000, 1px 0px 0 #000;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17 em;
}

h4 {
  margin-bottom: 0px;
  font-size: 100%;
}

h4:first-child {
  margin-top: 0px;
}

h5 {
  margin: 0px;
  font-size: 95%;
  font-style: italic;
}

p {
  margin-top: 0px;
}

img {
  max-width: 100%;
}

a:link, a:visited {
  color: #3b6daa;
}

a:hover, a:active {
  color: #b71f1c;
}

hr {
  border: none;
  border-top: solid 1px #c6d7eb;
}

hr:last-child {
  display: none;
}

.nobr {
  white-space: nowrap;
}

section {
  break-inside: avoid-column;
}

section.inline h4, section.inline h5 {
  display: inline-block;
  min-width: 100px;
}

section.inline p {
  display: inline;
}

section.inline h4:after, section.inline h5:after {
  content: ':\00a0';
}

body {
  background-color: white;
  margin: 0px;
  padding: 5px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  word-break: break-word;
  color: #173e69;
  line-height: 150%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
