@import "p_colors";

.debug {
	text-align: center;
	color: #888;
	font-style: italic;
	font-size: 80%;
	&.top {
		margin-top: -20px;
		margin-bottom: 20px;
	}
	&.bottom {
		div {
			font-style: normal;
			text-align: left;
			display: none;
			font-family: monospace;
			white-space: pre;
			border-top: dashed $color-accent-1 1px;
		}
		&.expanded div{
			display: block;
		}
	}
}
#page:before,
#page:after {
	position: fixed;
	content: 'Dev';
	opacity: 0.5;
	z-index: 999;
	color: red;
	font-weight: bold;
	font-size: calc(10pt + 5vmin);
	transform: rotate(-25deg)
}

#page:before {
	top: 4vmin;
	left: 5px;
}

#page:after {
	bottom: 4vmin;
	right: 5px;
}