.sticky #head {
	height: 45px;
	#toplink {
		padding: 7px;
	}
}

h1 {
	font-size: 20pt;
}
#smallscreen {
	display: block;
	color: $color-accent-1;
	margin: 5px;
	text-align: center;
	content: 'This site works best on a screen of at least 620 pixels wide';
}
#head {
	position: relative;
	margin-left: -20px;
	margin-right: -20px;
}
body:not(.sticky) #page {
	padding-top: 0px !important;
}
.debug.top {
	margin-top: -10px;
	margin-bottom: 5px;
}
.edit #page{
	#main:after{
		content: 'The edit interface requires a screen of at least 620 pixels wide';
	}
	#main div, #main h2 {
		display: none;
	}
}
#main > .cols.frontblocks{
	display: block;
}

#menu {
	padding: 0px;
	overflow: visible;
	h4 {
		display: block;
		padding: 10px;
		//border: $border-menu;
		text-align: center;
		cursor: pointer;
		color: $color-accent-1;
	}
	&.hover > ul {
		display: block;
	}
	> ul {
		display: none;
		li {
			background: $menu-bg-mobile;
		}
		> li {
			&.hover {
				background: $menu-bg-hover;
				color: $color-accent-2;
			}
			&.active {
				background: mix($bg-color, $color-accent-1, 75%);
			}
			border-bottom: $border-menu;
			&:not(:first-child){
				border-left: none;
				margin-left: 0px;
			}
			float: none;
			margin-right: 0px;
			border-radius: 0px;
			&.sub.hover {
				ul {
					display: block;
					position: initial;
					margin-left: 0px;
					visibility: visible;
					transition-property: visibility, opacity;
					transition-duration: 0s, 0.25s;
					transition-delay: 0s, 0s;
					opacity: 1; 
					li {
						border-width: 1px 0 0 0;
						a:before {
							content: '- ';
						}
						&:first-child, &:last-child {
							border-radius: 0px;
						}
					}
				}
			}
			a:link, a:visited, &.sub span {
				text-align: left;
				height: auto;
				padding: 10px;
				padding-left: 90px;
				color: $color-accent-1;

			}
		}
	}
}
#footer {
	text-align:center;
}
.search td:not(:nth-child(2)),
.project td:not(:nth-child(1)) {
	display: none;
}

.dataset td {
	display: block;
	&:not(:first-child){
		font-style:italic;
		font-size: 80%;
		
	}
	&:nth-child(2){
		float: left;
		&::after { 
			content: ' - ';
		}
		a {
			display:inline;
		}
	}
}