.sticky #head {
	height: 35px;
}
#menu > ul li.sub {
	.no-touch &:hover {
		ul {
			visibility: visible;
			transition-property: visiblity, opacity;
			transition-duration: 0s, 0.25s;
			transition-delay: 0s, 0s;
			opacity: 1; 
		}
	}
}