@import "p_colors";

.debug {
	text-align: center;
	color: white;
	font-style: italic;
	font-size: 80%;
	&.top {
		margin-top: -20px;
		margin-bottom: 20px;
	}
	&.bottom {
		margin-top: 20px;
		margin-bottom: -20px;
		div {
			font-style: normal;
			text-align: left;
			display: none;
			font-family: monospace;
			white-space: pre;
			border-top: dashed $color-accent-1 1px;
		}
		&.expanded div{
			display: block;
		}
	}
}